<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Video details!</title>
</head>

<body>
    <div class="container mt-4">
        <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
            <img src="{{video.snippet.thumbnails.standard.url}}" alt="">
        </a>
        <h2 class="m-4"><a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">{{video.snippet.title}}</a></h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Channel Name:</th>
                    <td>{{video.snippet.channelTitle}}</td>
                </tr>

                <tr>
                    <th scope="row">Published At: </th>
                    <td>{{video.snippet.publishedAt}}</td>
                </tr>

                <tr>
                    <th scope="row">Video ID: </th>
                    <td>{{video.id}}</td>
                </tr>


                <tr>
                    <th scope="row">Video Tags:</th>
                    <td>{{video.snippet.tags}}</td>
                </tr>

            </tbody>
        </table>
        <h3>Description:</h3>
        <p>{{video.snippet.description}}</p>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>